In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=e9a4a84b29f829f2ec89cf5cb6280dc2edfe3585dd5cf6ffbbbaf2bbe8b99795
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("MyApp").getOrCreate()

In [4]:
type(spark)

pyspark.sql.session.SparkSession

In [5]:
dir(spark)

['Builder',
 '__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_activeSession',
 '_convert_from_pandas',
 '_createFromLocal',
 '_createFromRDD',
 '_create_dataframe',
 '_create_from_pandas_with_arrow',
 '_create_shell_session',
 '_getActiveSessionOrCreate',
 '_get_numpy_record_dtype',
 '_inferSchema',
 '_inferSchemaFromList',
 '_instantiatedSession',
 '_jconf',
 '_jsc',
 '_jsparkSession',
 '_jvm',
 '_repr_html_',
 '_sc',
 'active',
 'addArtifact',
 'addArtifacts',
 'addTag',
 'builder',
 'catalog',
 'clearTags',
 'client',
 'conf',
 'copyFromLocalToFs',
 'createDataFrame',
 'getActiveSession',
 'getTags',
 'interruptAll',
 'interruptOperation',
 'interruptTag',
 'newSession',
 'range',
 'read',
 'readStream',
 'removeTag',
 'sparkContext',
 'sql',
 'stop',
 'streams',
 'table',
 'udf',
 'udtf',
 'version']

In [6]:
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
    or a :class:`numpy.ndarray`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
        :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None. The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.

        When ``schema`` is a list of column names, the type of each column
        will be inferred from ``data``.

        When ``schema`` is ``None``, it will try to infer the schema (column names and types)
        from ``data``, which should be an RDD of either :class:`Row`,
        :class:`namedtuple`, or :class:`dict`.

        When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
        match the real data, or an exception will be thrown at runtime. If the given schema is
        not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
        :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
        "value". Each record will also be wrapped into a tuple, which can be converted to row
        later.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring. The first few rows will be used
        if ``samplingRatio`` is ``None``.
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

        .. versionadded:: 2.1.0

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.

    Examples
    --------
    Create a DataFrame from a list of tuples.

    >>> spark.createDataFrame([('Alice', 1)]).show()
    +-----+---+
    |   _1| _2|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a list of dictionaries.

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  1|Alice|
    +---+-----+

    Create a DataFrame with column names specified.

    >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the explicit schema specified.

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> spark.createDataFrame([('Alice', 1)], schema).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the schema in DDL formatted string.

    >>> spark.createDataFrame([('Alice', 1)], "name: string, age: int").show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create an empty DataFrame.
    When initializing an empty DataFrame in PySpark, it's mandatory to specify its schema,
    as the DataFrame lacks data from which the schema can be inferred.

    >>> spark.createDataFrame([], "name: string, age: int").show()
    +----+---+
    |name|age|
    +----+---+
    +----+---+

    Create a DataFrame from Row objects.

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> df = spark.createDataFrame([Person("Alice", 1)])
    >>> df.show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a pandas DataFrame.

    >>> spark.createDataFrame(df.toPandas()).show()  # doctest: +SKIP
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    +---+---+
    |  0|  1|
    +---+---+
    |  1|  2|
    +---+---+

In [7]:
from pyspark.sql.types import *


data = [(1,'Nayeer'),(2,'Naushad')]
schema=['id','name']

df=spark.createDataFrame(data=data,schema=schema)
df.show()
df.printSchema()

+---+-------+
| id|   name|
+---+-------+
|  1| Nayeer|
|  2|Naushad|
+---+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
from pyspark.sql.types import *


data = [(1,'Nayeer'),(2,'Naushad')]
StructType= ([StructField(name='id',dataType=IntegerType()),
              StructField(name='id',dataType=IntegerType())])
schema=['id','name']
df=spark.createDataFrame(data=data,schema=schema)
df.show()
df.printSchema()

+---+-------+
| id|   name|
+---+-------+
|  1| Nayeer|
|  2|Naushad|
+---+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
data = [{'id':1,'name':'Nayeer'},
        {'id':2,'name':'Naushad'}]

df= spark.createDataFrame(data=data,schema=schema)
df.show()
df.printSchema()

+---+-------+
| id|   name|
+---+-------+
|  1| Nayeer|
|  2|Naushad|
+---+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
# ##Read CSV files
# df = spark.read.csv("dataset_Loan.csv",header=True)
# display(df)
# df.printSchema()
# df.show()

In [11]:
# df= spark.read.format('csv').option(key='header',value=True).load("dataset_Loan.csv")
# display(df)

In [12]:
# ##multiple csv file
# df = spark.read.csv(['dataset_Loan.csv','spam.csv'],header=True)
# display(df)
# df.show()
# df.printSchema()

In [13]:

# ##reading All the csv file at once


# df = spark.read.csv(path='/content/CSV',header=True)
# display(df)

WriteDFtoCSV

In [14]:
from pyspark.sql import *

data = [(1,"nayeer"),(2,"naushad")]
schema = ['id','name']

spark.createDataFrame(data=data,schema=schema)
display(df)
df.show()

DataFrame[id: bigint, name: string]

+---+-------+
| id|   name|
+---+-------+
|  1| Nayeer|
|  2|Naushad|
+---+-------+

In [15]:
df.write.option("header", True).csv("/content/gth")

In [16]:
df.write.options(header="True",delimiter=',').csv("/content/gas")

In [17]:
df2=spark.read.csv(path="/content/gth",header=True)
df2.show()

+---+-------+
| id|   name|
+---+-------+
|  2|Naushad|
|  1| Nayeer|
+---+-------+

In [18]:
#overwrite
df.write.csv(path="/content/gth",header=True,mode='overwrite')

In [19]:
df2=spark.read.csv(path="/content/gth",header=True)
df2.show()

+---+-------+
| id|   name|
+---+-------+
|  2|Naushad|
|  1| Nayeer|
+---+-------+

In [20]:
#append
df.write.csv(path="/content/gth",header=True,mode='append')

In [21]:
df=spark.read.csv(path="/content/gth",header=True)
df.show()

+---+-------+
| id|   name|
+---+-------+
|  2|Naushad|
|  2|Naushad|
|  1| Nayeer|
|  1| Nayeer|
+---+-------+

In [22]:
#read JSON to DF
# help(spark.read)
# help(spark.read.json)

In [23]:
df=spark.read.json(path="/content/sample1.json")
df.printSchema()
df.show

root
 |-- _corrupt_record: string (nullable = true)

In [24]:
# df=spark.read.json(path="/content/data.json",multiLine=True)
# # df.printSchema()
# df.show()

In [25]:
# df=spark.read.json(path=['/content/data.json','/content/sample2.json'],multiLine=True)
# # df.printSchema()
# df.show()

In [26]:
# df=spark.read.json(path='/content/*.json')
# df.printSchema()
# df.show()

In [27]:
#write DF to JSON
data = [(1,'nayeer'),(2,'naushad')]
schema=['id','name']
df=spark.createDataFrame(data=data,schema=schema)
display(df)
df.show()

DataFrame[id: bigint, name: string]

+---+-------+
| id|   name|
+---+-------+
|  1| nayeer|
|  2|naushad|
+---+-------+

In [28]:
#storing as as json
df.write.json('/content/neww.json')

In [29]:
df=spark.read.json('/content/neww.json')
df.show

In [30]:
df.write.json('/content/neww.json',mode='ignore')

In [31]:
df=spark.read.json('/content/neww.json')
display(df)
df.show(5)

DataFrame[id: bigint, name: string]

+---+-------+
| id|   name|
+---+-------+
|  2|naushad|
|  1| nayeer|
+---+-------+

In [32]:
#Read Parquet file into DataFrame using Pyspark
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [33]:
pip install pyarrow

Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow) (1.25.2)

In [34]:
#read single parquet file
df= spark.read.parquet('/content/MT cars.parquet')
df.show()
print(df.count())

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|          Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|      Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|         Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|     Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|  Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|            Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

32

In [35]:
#read all the parquet file
df= spark.read.parquet('/content/*.parquet')
df.show()
print(df.count())

+------------+-----------+------------+-----------+-------+
|sepal.length|sepal.width|petal.length|petal.width|variety|
+------------+-----------+------------+-----------+-------+
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
|        NULL|       NULL|        NULL|       NULL|   NULL|
+------------+-----------+------------+-----------+-------+
only showing top 20 rows

182

In [36]:
#write DF to Parquet
data=[(1,'Nayeer'),(2,'Naushad')]
schema=['id','name']

df = spark.createDataFrame(data = data , schema = schema)
df.show()

+---+-------+
| id|   name|
+---+-------+
|  1| Nayeer|
|  2|Naushad|
+---+-------+

In [37]:
#storing df into parquet
df.write.parquet('/content/parquetop1')

In [38]:
df1= spark.read.parquet('/content/parquetop1')
df1.show()

+---+-------+
| id|   name|
+---+-------+
|  2|Naushad|
|  1| Nayeer|
+---+-------+

In [39]:
#storing df into parquet
df.write.parquet('/content/parquetop1',mode='append')

In [40]:
df1= spark.read.parquet('/content/parquetop1')
df1.show()

+---+-------+
| id|   name|
+---+-------+
|  2|Naushad|
|  2|Naushad|
|  1| Nayeer|
|  1| Nayeer|
+---+-------+

In [41]:
df.write.parquet('/content/parquetop1',mode='overwrite')

In [42]:
df1= spark.read.parquet('/content/parquetop1')
df1.show()

+---+-------+
| id|   name|
+---+-------+
|  2|Naushad|
|  1| Nayeer|
+---+-------+

In [43]:
df.write.parquet('/content/parquetop1',mode='ignore')

In [44]:
df1= spark.read.parquet('/content/parquetop1')
df1.show()

+---+-------+
| id|   name|
+---+-------+
|  2|Naushad|
|  1| Nayeer|
+---+-------+

In [45]:
#showNoteBook
data=[(1,'Kingnvksnvnsvnvnskvnksnvksnvksvnknvkvnksnvk'),
      (2,'Princsggssvvsvsvsvse'),
      (3,'Hitmansvsvsrvsrv'),
      (4,'Jaddusrgsrggsrjgsrjogrgosrisrjg')]

schema=['id','name']

df = spark.createDataFrame(data=data,schema=schema)

df.show()

df.show(truncate=False) # for showing full data value
df.show(truncate=2)
df.show(truncate=False,vertical=True)
df.show(n=2,truncate=False)

+---+--------------------+
| id|                name|
+---+--------------------+
|  1|Kingnvksnvnsvnvns...|
|  2|Princsggssvvsvsvsvse|
|  3|    Hitmansvsvsrvsrv|
|  4|Jaddusrgsrggsrjgs...|
+---+--------------------+

+---+-------------------------------------------+
|id |name                                       |
+---+-------------------------------------------+
|1  |Kingnvksnvnsvnvnskvnksnvksnvksvnknvkvnksnvk|
|2  |Princsggssvvsvsvsvse                       |
|3  |Hitmansvsvsrvsrv                           |
|4  |Jaddusrgsrggsrjgsrjogrgosrisrjg            |
+---+-------------------------------------------+

+---+----+
| id|name|
+---+----+
|  1|  Ki|
|  2|  Pr|
|  3|  Hi|
|  4|  Ja|
+---+----+

-RECORD 0-------------------------------------------
 id   | 1
 name | Kingnvksnvnsvnvnskvnksnvksnvksvnknvkvnksnvk
-RECORD 1-------------------------------------------
 id   | 2
 name | Princsggssvvsvsvsvse
-RECORD 2-------------------------------------------
 id   | 3
 name | Hitmansvsvsrvsrv
-RECORD 3-------------------------------------------
 id   | 4
 name | Jaddusrgsrggsrjgsrjogrgosrisrjg

+---+-------------------------------------------+
|id |name                                       |
+---+-------------------------------------------+
|1  |Kingnvksnvnsvnvnskvnksnvksnvksvnknvkvnksnvk|
|2  |Princsggssvvsvsvsvse                       |
+---+-------------------------------------------+
only showing top 2 rows

In [46]:
#showNoteBook
from pyspark.sql.functions import col
data=[(1,'786'),
      (2,'Princsggssvvsvsvsvse'),
      (3,'Hitmansvsvsrvsrv'),
      (4,'Jaddusrgsrggsrjgsrjogrgosrisrjg')]

columns=['id','name']

df = spark.createDataFrame(data=data,schema=columns)

df.show()
df1=df.withColumn(colName='name',col=col('name').cast('Integer'))

df1.show()
df1.printSchema()


df2=df1.withColumn('name',col('name')*2)
df2.show()
df2.printSchema()

+---+--------------------+
| id|                name|
+---+--------------------+
|  1|                 786|
|  2|Princsggssvvsvsvsvse|
|  3|    Hitmansvsvsrvsrv|
|  4|Jaddusrgsrggsrjgs...|
+---+--------------------+

+---+----+
| id|name|
+---+----+
|  1| 786|
|  2|NULL|
|  3|NULL|
|  4|NULL|
+---+----+

root
 |-- id: long (nullable = true)
 |-- name: integer (nullable = true)

+---+----+
| id|name|
+---+----+
|  1|1572|
|  2|NULL|
|  3|NULL|
|  4|NULL|
+---+----+

root
 |-- id: long (nullable = true)
 |-- name: integer (nullable = true)

In [47]:
from pyspark.sql.functions import lit
df3 = df2.withColumn('salary',lit('2000'))  ## lit will add new column
df3.show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|1572|  2000|
|  2|NULL|  2000|
|  3|NULL|  2000|
|  4|NULL|  2000|
+---+----+------+

In [48]:
df4 = df3.withColumn('copiedsalary',col('salary'))  ## to make duplicate
df4.show()

+---+----+------+------------+
| id|name|salary|copiedsalary|
+---+----+------+------------+
|  1|1572|  2000|        2000|
|  2|NULL|  2000|        2000|
|  3|NULL|  2000|        2000|
|  4|NULL|  2000|        2000|
+---+----+------+------------+

In [49]:
#renaming using withColumnRename()
data=[(1,'Kingnvksnvnsvnvnskvnksnvksnvksvnknvkvnksnvk'),
      (2,'Princsggssvvsvsvsvse'),
      (3,'Hitmansvsvsrvsrv'),
      (4,'Jaddusrgsrggsrjgsrjogrgosrisrjg')]

schema=['id','name']

df = spark.createDataFrame(data=data,schema=columns)

df1=df.withColumnRenamed('name','names')
df1.show()

+---+--------------------+
| id|               names|
+---+--------------------+
|  1|Kingnvksnvnsvnvns...|
|  2|Princsggssvvsvsvsvse|
|  3|    Hitmansvsvsrvsrv|
|  4|Jaddusrgsrggsrjgs...|
+---+--------------------+

In [50]:
#structType structField

from pyspark.sql.types import StructType, StructField, IntegerType, StringType

data= [(1,'Nayeer',4500),(2,'Naushad',4000)]

schema=StructType([\
                   StructField(name='id',dataType=IntegerType()),\
                   StructField(name='name',dataType=StringType()),\
                   StructField(name='Salary',dataType=IntegerType())\
                   ])

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+-------+------+
| id|   name|Salary|
+---+-------+------+
|  1| Nayeer|  4500|
|  2|Naushad|  4000|
+---+-------+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [51]:
#structType structField
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

data= [(1,('Nay','King'),4500),(2,('Eer','Prince'),4000)]

structName=StructType([\
                       StructField('firstname',StringType()),\
                       StructField('lastname',StringType())])

schema=StructType([\
                   StructField(name='id',dataType=IntegerType()),\
                   StructField(name='name',dataType=structName),\
                   StructField(name='Salary',dataType=IntegerType())\
                   ])

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+-------------+------+
| id|         name|Salary|
+---+-------------+------+
|  1|  {Nay, King}|  4500|
|  2|{Eer, Prince}|  4000|
+---+-------------+------+

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [52]:
#array type notebook
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType

data = [('abc',[1,2]),('def',[3,4]),('ghi',[5,6]),('adada',[11,22]),('abdafadfadfc',[111,112])]
# schema=['id','numbers']
schema=StructType([\
                       StructField('id',StringType()),\
                       StructField('numbers',ArrayType(IntegerType()))])

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

df.withColumn('firstNumber',df.numbers[0]).show()

+------------+----------+
|          id|   numbers|
+------------+----------+
|         abc|    [1, 2]|
|         def|    [3, 4]|
|         ghi|    [5, 6]|
|       adada|  [11, 22]|
|abdafadfadfc|[111, 112]|
+------------+----------+

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: integer (containsNull = true)

+------------+----------+-----------+
|          id|   numbers|firstNumber|
+------------+----------+-----------+
|         abc|    [1, 2]|          1|
|         def|    [3, 4]|          3|
|         ghi|    [5, 6]|          5|
|       adada|  [11, 22]|         11|
|abdafadfadfc|[111, 112]|        111|
+------------+----------+-----------+

In [53]:
from pyspark.sql.functions import col,array
df=spark.createDataFrame(
    [(33,44),(55,66)],["num1","num2"]
)
df.show()

df.withColumn("numbers",array(df.num1,df.num2)).show()

+----+----+
|num1|num2|
+----+----+
|  33|  44|
|  55|  66|
+----+----+

+----+----+--------+
|num1|num2| numbers|
+----+----+--------+
|  33|  44|[33, 44]|
|  55|  66|[55, 66]|
+----+----+--------+

In [54]:
##Use explode() function to create a new row for each element in the given array column.
from pyspark.sql.types import StructType , StructField , StringType , IntegerType , ArrayType
from pyspark.sql.functions import col,explode

data = [('abc',[1,2]),('def',[3,4]),('ghi',[5,6]),('adada',[11,22]),('abdafadfadfc',[111,112])]
# schema=['id','numbers']
schema=StructType([\
                       StructField('id',StringType()),\
                       StructField('numbers',ArrayType(IntegerType()))])

df=spark.createDataFrame(data,schema)
df.show()
df1=df.withColumn('explodedCol',explode(col('numbers'))).select('id','explodedCol')
df1.show()

+------------+----------+
|          id|   numbers|
+------------+----------+
|         abc|    [1, 2]|
|         def|    [3, 4]|
|         ghi|    [5, 6]|
|       adada|  [11, 22]|
|abdafadfadfc|[111, 112]|
+------------+----------+

+------------+-----------+
|          id|explodedCol|
+------------+-----------+
|         abc|          1|
|         abc|          2|
|         def|          3|
|         def|          4|
|         ghi|          5|
|         ghi|          6|
|       adada|         11|
|       adada|         22|
|abdafadfadfc|        111|
|abdafadfadfc|        112|
+------------+-----------+

In [55]:
##Use split() function to create a new row for each element in the given array column.
# from pyspark.sql.types import StructType , StructField , StringType , IntegerType , ArrayType
from pyspark.sql.functions import split
data=[(1,'Nayeer','dyna,cae,wew'),(2,'Naushad','cloud,py,aws')]
schema=['id','name','skills']

df = spark.createDataFrame(data  , schema)
df=df.withColumn('skills',split('skills',','))

df.show()

+---+-------+----------------+
| id|   name|          skills|
+---+-------+----------------+
|  1| Nayeer|[dyna, cae, wew]|
|  2|Naushad|[cloud, py, aws]|
+---+-------+----------------+

In [56]:
##Use array() function to create a new row for each element in the given array column.
# from pyspark.sql.types import StructType , StructField , StringType , IntegerType , ArrayType
from pyspark.sql.functions import split , array , col
data=[(1,'Nayeer','dyna','cae'),(2,'Naushad','cloud','py')]
schema=['id','name','skillsf','skillss']

df = spark.createDataFrame(data  , schema)
df.show()
df1=df.withColumn('skills',array(col('skillsf'),col('skillss')))

df1.show()
df.printSchema()

+---+-------+-------+-------+
| id|   name|skillsf|skillss|
+---+-------+-------+-------+
|  1| Nayeer|   dyna|    cae|
|  2|Naushad|  cloud|     py|
+---+-------+-------+-------+

+---+-------+-------+-------+-----------+
| id|   name|skillsf|skillss|     skills|
+---+-------+-------+-------+-----------+
|  1| Nayeer|   dyna|    cae|[dyna, cae]|
|  2|Naushad|  cloud|     py|[cloud, py]|
+---+-------+-------+-------+-----------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skillsf: string (nullable = true)
 |-- skillss: string (nullable = true)

In [57]:
##Use arraycontains() function to create a new row for each element in the given array column.
# from pyspark.sql.types import StructType , StructField , StringType , IntegerType , ArrayType
from pyspark.sql.functions import split , array , col , array_contains
data=[(1,'Nayeer',['dyna','cae']),(2,'Naushad',['cloud','py'])]
schema=['id','name','skills']

df = spark.createDataFrame(data  , schema)
df.show()
df1=df.withColumn('hasJavaSkill',array_contains(col('skills'),'java'))

df1.show()
df.printSchema()

+---+-------+-----------+
| id|   name|     skills|
+---+-------+-----------+
|  1| Nayeer|[dyna, cae]|
|  2|Naushad|[cloud, py]|
+---+-------+-----------+

+---+-------+-----------+------------+
| id|   name|     skills|hasJavaSkill|
+---+-------+-----------+------------+
|  1| Nayeer|[dyna, cae]|       false|
|  2|Naushad|[cloud, py]|       false|
+---+-------+-----------+------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [58]:
#- PySpark MapType is used to represent map key-value pair similar to python Dictionary (Dict).
data=[('nayeer',{'hair':'black','eye':'brown'}),('naushad',{'hair':'brown','eye':'brown'})]
schema=['name','properties']
df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+-------+--------------------+
|   name|          properties|
+-------+--------------------+
| nayeer|{eye -> brown, ha...|
|naushad|{eye -> brown, ha...|
+-------+--------------------+

root
 |-- name: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [59]:
from pyspark.sql.types import StructType,StructField,StringType, MapType


data=[('nayeer',{'hair':'black','eye':'brown'}),('naushad',{'hair':'brown','eye':'brown'})]
schema=StructType([\
                   StructField('name',StringType()),\
                   StructField('properties',MapType(StringType(),StringType()))\
                   ])
df=spark.createDataFrame(data,schema)
df.show(truncate=False)
display(df)
df.printSchema()

+-------+-----------------------------+
|name   |properties                   |
+-------+-----------------------------+
|nayeer |{eye -> brown, hair -> black}|
|naushad|{eye -> brown, hair -> brown}|
+-------+-----------------------------+

DataFrame[name: string, properties: map<string,string>]

root
 |-- name: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [60]:
#Access maptype elements
df=df.withColumn('hair',df.properties['hair'])
df.show()

+-------+--------------------+-----+
|   name|          properties| hair|
+-------+--------------------+-----+
| nayeer|{eye -> brown, ha...|black|
|naushad|{eye -> brown, ha...|brown|
+-------+--------------------+-----+

In [61]:
#explode
from pyspark.sql.functions import explode
df.select('name','properties',explode(df.properties)).show(truncate=False)

+-------+-----------------------------+----+-----+
|name   |properties                   |key |value|
+-------+-----------------------------+----+-----+
|nayeer |{eye -> brown, hair -> black}|eye |brown|
|nayeer |{eye -> brown, hair -> black}|hair|black|
|naushad|{eye -> brown, hair -> brown}|eye |brown|
|naushad|{eye -> brown, hair -> brown}|hair|brown|
+-------+-----------------------------+----+-----+

In [62]:
#map_keys()
#explode
from pyspark.sql.functions import map_keys
df1=df.withColumn('keys',map_keys(df.properties))
df1.show(truncate=False)

+-------+-----------------------------+-----+-----------+
|name   |properties                   |hair |keys       |
+-------+-----------------------------+-----+-----------+
|nayeer |{eye -> brown, hair -> black}|black|[eye, hair]|
|naushad|{eye -> brown, hair -> brown}|brown|[eye, hair]|
+-------+-----------------------------+-----+-----------+

In [63]:
##map_keys()
#explode
from pyspark.sql.functions import map_values
df1=df.withColumn('values',map_values(df.properties))
df1.show(truncate=False)

+-------+-----------------------------+-----+--------------+
|name   |properties                   |hair |values        |
+-------+-----------------------------+-----+--------------+
|nayeer |{eye -> brown, hair -> black}|black|[brown, black]|
|naushad|{eye -> brown, hair -> brown}|brown|[brown, brown]|
+-------+-----------------------------+-----+--------------+

In [64]:
#pyspark.sql.row which is represented as record row in fdataframe , one
# can create a row object by using named argumnets or create a custom row like class,

from pyspark.sql import Row
row=Row('nayeer',2000)
print(row[0]+' '+str(row[1]))

nayeer 2000

In [65]:
#Using named argument
from pyspark.sql import Row
row=Row(name='Nayeer',salary=2000)
print(row.name+' '+str(row.salary))

Nayeer 2000

In [66]:
#we can also create row like this
person=Row('name','salary')
p1=person('nayeer',20000)
p2=person('naushad',20002)

print(p1.name+' '+p2.name)
print(str(p1.salary)+' '+str(p2.salary))

nayeer naushad
20000 20002

In [67]:
#data  in dataframe represents like this
data=[p1,p2]
df=spark.createDataFrame(data)

df.show()

+-------+------+
|   name|salary|
+-------+------+
| nayeer| 20000|
|naushad| 20002|
+-------+------+

In [68]:
# Column class in PySpark | pyspark.sql.Column
from pyspark.sql.functions import lit
col1=lit("abd")
print(type(col1))

<class 'pyspark.sql.column.Column'>

In [69]:
from pyspark.sql.functions import lit
data=[('nayeer','male',20000),('naushad','male',300000)]
schema=['name','gender','salary']
df=spark.createDataFrame(data,schema)

df.show()
df.printSchema()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
| nayeer|  male| 20000|
|naushad|  male|300000|
+-------+------+------+

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [70]:
from pyspark.sql.functions import col
df.select(df.gender).show()
df.select(df['gender']).show()
df.select(col('gender')).show()

+------+
|gender|
+------+
|  male|
|  male|
+------+

+------+
|gender|
+------+
|  male|
|  male|
+------+

+------+
|gender|
+------+
|  male|
|  male|
+------+

In [71]:
# from pyspark.sql.functions import col
# df.select(df.properties.hair).show()
# df.select(df['properties.hair']).show()
# df.select(col('properties.hair')).show()

In [72]:
from pyspark.sql.functions import when
data=[(1,'nayeer','male'),(2,'naca','feMale'),(3,'nadcadca','unknown')]
schema=['id','name','gender']
df=spark.createDataFrame(data,schema)

df.show()
df.printSchema()

df1=df.select(df.id,df.name,when(condition=df.gender=='male',value='male')\
              .when (condition=df.gender=='feMale',value='female')\
              .otherwise('unknown').alias('gender'))
df1.show()

+---+--------+-------+
| id|    name| gender|
+---+--------+-------+
|  1|  nayeer|   male|
|  2|    naca| feMale|
|  3|nadcadca|unknown|
+---+--------+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)

+---+--------+-------+
| id|    name| gender|
+---+--------+-------+
|  1|  nayeer|   male|
|  2|    naca| female|
|  3|nadcadca|unknown|
+---+--------+-------+

In [73]:
#alias
from pyspark.sql.functions import when
data=[(1,'nayeer','male'),(2,'naca','feMale'),(3,'nadcadca','unknown')]
schema=['id','name','gender']
df=spark.createDataFrame(data,schema)
df.select(df.id.alias('emp_id'),df.name.alias('emp_name')).show()

+------+--------+
|emp_id|emp_name|
+------+--------+
|     1|  nayeer|
|     2|    naca|
|     3|nadcadca|
+------+--------+

In [74]:
#asc() desc()
from pyspark.sql.functions import when
data=[(1,'nayeer','male'),(2,'naca','feMale'),(3,'nadcadca','unknown')]
schema=['id','name','gender']
df=spark.createDataFrame(data,schema)

#df1=df.sort(df.name.asc())

df1=df.sort(df.name.desc())
df1.show()

+---+--------+-------+
| id|    name| gender|
+---+--------+-------+
|  1|  nayeer|   male|
|  3|nadcadca|unknown|
|  2|    naca| feMale|
+---+--------+-------+

In [75]:
#cast()
from pyspark.sql.functions import when
data=[(1,'nayeer','male'),(2,'naca','feMale'),(3,'nadcadca','unknown')]
schema=['id','name','gender']
df=spark.createDataFrame(data,schema)
df1=df.select(df.name.cast('int'))
df1.printSchema()

root
 |-- name: integer (nullable = true)

In [76]:
 #like()
from pyspark.sql.functions import when
data=[(1,'mayeer','male'),(2,'naca','feMale'),(3,'nadcadca','unknown')]
schema=['id','name','gender']
df=spark.createDataFrame(data,schema)
df2=df.filter(df.name.like('m%')).show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|mayeer|  male|
+---+------+------+

In [77]:
#where  functions
 #like()
from pyspark.sql.functions import when
data=[(1,'mayeer','male'),(2,'naca','feMale'),(3,'nadcadca','unknown')]
schema=['id','name','gender']
df=spark.createDataFrame(data,schema)
df.where(df.gender=='male').show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|mayeer|  male|
+---+------+------+

In [78]:
#  Filter() functions

from pyspark.sql.functions import when
data=[(1,'mayeer','male'),(2,'naca','feMale'),(3,'nadcadca','unknown')]
schema=['id','name','gender']
df=spark.createDataFrame(data,schema)
df.filter(df.gender=='male').show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|mayeer|  male|
+---+------+------+

In [79]:
#\22. distinct() & dropDuplicates() in PySpark
from pyspark.sql.functions import when
data=[(1,'mayeer','male'),(2,'naca','feMale'),(3,'nadcadca','unknown'),(4,'nadcadca','unknown'),(3,'nadcadca','unknown')]
schema=['id','name','gender']
df=spark.createDataFrame(data,schema)
df.distinct().show()
df.dropDuplicates().show()
df.dropDuplicates(['gender']).show()

+---+--------+-------+
| id|    name| gender|
+---+--------+-------+
|  1|  mayeer|   male|
|  2|    naca| feMale|
|  3|nadcadca|unknown|
|  4|nadcadca|unknown|
+---+--------+-------+

+---+--------+-------+
| id|    name| gender|
+---+--------+-------+
|  1|  mayeer|   male|
|  2|    naca| feMale|
|  3|nadcadca|unknown|
|  4|nadcadca|unknown|
+---+--------+-------+

+---+--------+-------+
| id|    name| gender|
+---+--------+-------+
|  2|    naca| feMale|
|  1|  mayeer|   male|
|  3|nadcadca|unknown|
+---+--------+-------+

In [80]:
#23. orderBy() & sort() in PySpark
from pyspark.sql.functions import when
data=[(1013100,50000),(223231,50000),(379236973,989)]
schema=['id','name',]
df=spark.createDataFrame(data,schema)
df.sort('name','id').show()
df.orderBy(df.name.desc(),df.id.asc()).show()

+---------+-----+
|       id| name|
+---------+-----+
|379236973|  989|
|   223231|50000|
|  1013100|50000|
+---------+-----+

+---------+-----+
|       id| name|
+---------+-----+
|   223231|50000|
|  1013100|50000|
|379236973|  989|
+---------+-----+

In [81]:
#23. orderBy() & sort() in PySpark
from pyspark.sql.functions import when
data=[(1013100,50000),(223231,50000),(379236973,989)]
schema=['id','name',]
df=spark.createDataFrame(data,schema)
df.orderBy('name','id').show()
df.sort(df.name.desc(),df.id.asc()).show()

+---------+-----+
|       id| name|
+---------+-----+
|379236973|  989|
|   223231|50000|
|  1013100|50000|
+---------+-----+

+---------+-----+
|       id| name|
+---------+-----+
|   223231|50000|
|  1013100|50000|
|379236973|  989|
+---------+-----+

In [82]:
#24. union() & unionAll() in PySpark
from pyspark.sql.functions import when
data1=[(10100,500),(2231,500),(3726973,98)]
schema=['id','name',]
data2=[(1013100,50000),(223231,50000),(379236973,989),(3726973,98)]
schema=['id','name',]

df1=spark.createDataFrame(data1,schema)
df2=spark.createDataFrame(data2,schema)

df1.show()
df2.show()
df1.unionAll(df2).show()
df1.union(df2).show()

+-------+----+
|     id|name|
+-------+----+
|  10100| 500|
|   2231| 500|
|3726973|  98|
+-------+----+

+---------+-----+
|       id| name|
+---------+-----+
|  1013100|50000|
|   223231|50000|
|379236973|  989|
|  3726973|   98|
+---------+-----+

+---------+-----+
|       id| name|
+---------+-----+
|    10100|  500|
|     2231|  500|
|  3726973|   98|
|  1013100|50000|
|   223231|50000|
|379236973|  989|
|  3726973|   98|
+---------+-----+

+---------+-----+
|       id| name|
+---------+-----+
|    10100|  500|
|     2231|  500|
|  3726973|   98|
|  1013100|50000|
|   223231|50000|
|379236973|  989|
|  3726973|   98|
+---------+-----+

In [83]:
#25. groupBy() in PySpark
data=[(1,'naheey','M',5000,'IT'),\
      (2,'baheey','F',50100,'IT'),\
      (3,'gaheey','M',52000,'RIT'),\
      (4,'taheey','F',53000,'GIT'),\
      (5,'raheey','M',25000,'NIT'),\
      (6,'eaheey','F',15000,'KIT'),\
      (7,'waheey','M',95000,'CIT')]

schema=['id','name','gender','salary','dep']
df=spark.createDataFrame(data,schema)
df.groupBy('dep').count().show()
df.groupBy('dep','gender').count().show()
df.groupBy('dep').min('salary').show()
df.groupBy('dep').max('salary').show()
df.groupBy('dep').avg('salary').show()

+---+-----+
|dep|count|
+---+-----+
| IT|    2|
|RIT|    1|
|CIT|    1|
|KIT|    1|
|NIT|    1|
|GIT|    1|
+---+-----+

+---+------+-----+
|dep|gender|count|
+---+------+-----+
|RIT|     M|    1|
| IT|     M|    1|
| IT|     F|    1|
|KIT|     F|    1|
|NIT|     M|    1|
|GIT|     F|    1|
|CIT|     M|    1|
+---+------+-----+

+---+-----------+
|dep|min(salary)|
+---+-----------+
| IT|       5000|
|RIT|      52000|
|CIT|      95000|
|KIT|      15000|
|NIT|      25000|
|GIT|      53000|
+---+-----------+

+---+-----------+
|dep|max(salary)|
+---+-----------+
| IT|      50100|
|RIT|      52000|
|CIT|      95000|
|KIT|      15000|
|NIT|      25000|
|GIT|      53000|
+---+-----------+

+---+-----------+
|dep|avg(salary)|
+---+-----------+
| IT|    27550.0|
|RIT|    52000.0|
|CIT|    95000.0|
|KIT|    15000.0|
|NIT|    25000.0|
|GIT|    53000.0|
+---+-----------+

In [84]:
#agg()
#25. groupBy() in PySpark
data=[(1,'naheey','M',5000,'IT'),\
      (2,'baheey','F',50100,'IT'),\
      (3,'gaheey','M',52000,'RIT'),\
      (4,'taheey','F',53000,'GIT'),\
      (5,'raheey','M',25000,'NIT'),\
      (6,'eaheey','F',15000,'KIT'),\
      (7,'waheey','M',95000,'CIT')]

schema=['id','name','gender','salary','dep']
df=spark.createDataFrame(data,schema)
df.groupBy('dep').count().show()

from pyspark.sql.functions import count,min,max
df.groupBy('dep').agg(count('*').alias('countOfEmps'),\
                      min('salary').alias('minSal'),\
                      max('salary').alias('maxSal')).show()

+---+-----+
|dep|count|
+---+-----+
| IT|    2|
|RIT|    1|
|CIT|    1|
|KIT|    1|
|NIT|    1|
|GIT|    1|
+---+-----+

+---+-----------+------+------+
|dep|countOfEmps|minSal|maxSal|
+---+-----------+------+------+
| IT|          2|  5000| 50100|
|RIT|          1| 52000| 52000|
|CIT|          1| 95000| 95000|
|KIT|          1| 15000| 15000|
|NIT|          1| 25000| 25000|
|GIT|          1| 53000| 53000|
+---+-----------+------+------+

In [85]:
#27. unionByName() function in PySpark
from pyspark.sql.functions import when
data1=[(10100,'king'),(2231,'prince'),(3726973,'ada')]
schema1=['id','name',]
data2=[(10100,'king'),(379236973,'adada'),(3726973,'dghi')]
schema2=['id','gtae',]

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)

df1.union(df2).show()

df1.unionByName(allowMissingColumns=True,other=df2).show()

+---------+------+
|       id|  name|
+---------+------+
|    10100|  king|
|     2231|prince|
|  3726973|   ada|
|    10100|  king|
|379236973| adada|
|  3726973|  dghi|
+---------+------+

+---------+------+-----+
|       id|  name| gtae|
+---------+------+-----+
|    10100|  king| NULL|
|     2231|prince| NULL|
|  3726973|   ada| NULL|
|    10100|  NULL| king|
|379236973|  NULL|adada|
|  3726973|  NULL| dghi|
+---------+------+-----+

In [86]:
#28. select() function in PySpark
from pyspark.sql.functions import lit
data=[('nayeer','male',20000),('naushad','male',300000)]
schema=['name','gender','salary']
df=spark.createDataFrame(data,schema)

#select single or multi columns
df.select('salary','name').show()
df.select(df.name,df.gender).show()
df.select(df['name'],df['gender']).show()

#using col() function
from pyspark.sql.functions import col
df.select(col('salary'),col('name')).show()
df.select(['gender','name']).show()

+------+-------+
|salary|   name|
+------+-------+
| 20000| nayeer|
|300000|naushad|
+------+-------+

+-------+------+
|   name|gender|
+-------+------+
| nayeer|  male|
|naushad|  male|
+-------+------+

+-------+------+
|   name|gender|
+-------+------+
| nayeer|  male|
|naushad|  male|
+-------+------+

+------+-------+
|salary|   name|
+------+-------+
| 20000| nayeer|
|300000|naushad|
+------+-------+

+------+-------+
|gender|   name|
+------+-------+
|  male| nayeer|
|  male|naushad|
+------+-------+

In [87]:
#select() for all column
df.select([col for col in df.columns]).show()
df.select('*').show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
| nayeer|  male| 20000|
|naushad|  male|300000|
+-------+------+------+

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
| nayeer|  male| 20000|
|naushad|  male|300000|
+-------+------+------+

In [88]:
#29. join() function in PySpark
from pyspark.sql.functions import when
data1=[(1,'nwafa',2000,2),(2,'fsfs',5555,1),(3,'abcd',1111,1)]
schema1=['id','name','salary','dep']
data2=[(1,'nwafa'),(379236973,'adada'),(3726973,'dghi')]
schema2=['id','gtae',]

empDf=spark.createDataFrame(data1,schema1)
depDf=spark.createDataFrame(data2,schema2)
empDf.show()
depDf.show()

empDf.join(depDf,empDf.dep==depDf.id,'inner').show()
empDf.join(depDf,empDf.dep==depDf.id,'left').show()
empDf.join(depDf,empDf.dep==depDf.id,'right').show()
empDf.join(depDf,empDf.dep==depDf.id,'full').show()

+---+-----+------+---+
| id| name|salary|dep|
+---+-----+------+---+
|  1|nwafa|  2000|  2|
|  2| fsfs|  5555|  1|
|  3| abcd|  1111|  1|
+---+-----+------+---+

+---------+-----+
|       id| gtae|
+---------+-----+
|        1|nwafa|
|379236973|adada|
|  3726973| dghi|
+---------+-----+

+---+----+------+---+---+-----+
| id|name|salary|dep| id| gtae|
+---+----+------+---+---+-----+
|  2|fsfs|  5555|  1|  1|nwafa|
|  3|abcd|  1111|  1|  1|nwafa|
+---+----+------+---+---+-----+

+---+-----+------+---+----+-----+
| id| name|salary|dep|  id| gtae|
+---+-----+------+---+----+-----+
|  1|nwafa|  2000|  2|NULL| NULL|
|  2| fsfs|  5555|  1|   1|nwafa|
|  3| abcd|  1111|  1|   1|nwafa|
+---+-----+------+---+----+-----+

+----+----+------+----+---------+-----+
|  id|name|salary| dep|       id| gtae|
+----+----+------+----+---------+-----+
|   3|abcd|  1111|   1|        1|nwafa|
|   2|fsfs|  5555|   1|        1|nwafa|
|NULL|NULL|  NULL|NULL|379236973|adada|
|NULL|NULL|  NULL|NULL|  3726973| dghi|
+----+----+------+----+---------+-----+

+----+-----+------+----+---------+-----+
|  id| name|salary| dep|       id| gtae|
+----+-----+------+----+---------+-----+
|   2| fsfs|  5555|   1|        1|nwafa|
|   3| abcd|  1111|   1|        1|nwafa|
|   1|nwafa|  2000|   2|     NULL| NULL|
|NULL| NULL|  NULL|NULL|  3726973| dghi|
|NULL| NULL|  NULL|NULL|379236973|adada|
+----+-----+------+----+---------+-----+

In [89]:
#30. join() function in PySpark Continuation
from pyspark.sql.functions import when
data1=[(1,'nwafa',2000,2),(2,'fsfs',5555,1),(3,'abcd',1111,1)]
schema1=['id','name','salary','dep']
data2=[(1,'nwafa'),(379236973,'adada'),(3726973,'dghi')]
schema2=['id','gtae',]

empDf=spark.createDataFrame(data1,schema1)
depDf=spark.createDataFrame(data2,schema2)
# empDf.show()
# depDf.show()

empDf.join(depDf,empDf.dep==depDf.id,'leftsemi').show()
empDf.join(depDf,empDf.dep==depDf.id,'leftanti').show()

+---+----+------+---+
| id|name|salary|dep|
+---+----+------+---+
|  2|fsfs|  5555|  1|
|  3|abcd|  1111|  1|
+---+----+------+---+

+---+-----+------+---+
| id| name|salary|dep|
+---+-----+------+---+
|  1|nwafa|  2000|  2|
+---+-----+------+---+

In [90]:
data1=[(1,'nwafa',0),(2,'fsfs',1),(3,'abcd',2)]
schema1=['id','name','manager_id']
df=spark.createDataFrame(data1,schema1)
from pyspark.sql.functions import col
df.alias('emp').join(df.alias('manager'),col('emp.manager_id')==col('manager.id'),'left')\
    .select(col('emp.name').alias('empName'),col('manager.name').alias('managerName')).show()

+-------+-----------+
|empName|managerName|
+-------+-----------+
|  nwafa|       NULL|
|   fsfs|      nwafa|
|   abcd|       fsfs|
+-------+-----------+

In [91]:
#31. pivot() function in PySpark
data=[(1,'naheey','M',5000,'IT'),\
      (2,'baheey','F',50100,'IT'),\
      (3,'gaheey','M',52000,'RIT'),\
      (4,'taheey','F',53000,'GIT'),\
      (5,'raheey','M',25000,'NIT'),\
      (6,'eaheey','F',15000,'KIT'),\
      (7,'waheey','M',95000,'CIT')]

schema=['id','name','gender','salary','dep']
df=spark.createDataFrame(data,schema)
df.show()

df.groupBy('dep').pivot('gender').count().show()

+---+------+------+------+---+
| id|  name|gender|salary|dep|
+---+------+------+------+---+
|  1|naheey|     M|  5000| IT|
|  2|baheey|     F| 50100| IT|
|  3|gaheey|     M| 52000|RIT|
|  4|taheey|     F| 53000|GIT|
|  5|raheey|     M| 25000|NIT|
|  6|eaheey|     F| 15000|KIT|
|  7|waheey|     M| 95000|CIT|
+---+------+------+------+---+

+---+----+----+
|dep|   F|   M|
+---+----+----+
|CIT|NULL|   1|
|KIT|   1|NULL|
|NIT|NULL|   1|
| IT|   1|   1|
|RIT|NULL|   1|
|GIT|   1|NULL|
+---+----+----+

In [92]:
#32. unpivot Dataframe in PySpark
data=[('IT',8,5),\
      ('Payroll',3,2),\
      ('HR',2,4)\
      ]

schema=['dep','male','female']

df=spark.createDataFrame(data,schema)
df.show()

from pyspark.sql.functions import expr
df.select('dep',expr("stack(2,'male',male,'female',female) as (gender, count)")).show()
# df.select('dep',expr("stack(2,'tama',male,'tonga',female) as (gender, count)")).show()

+-------+----+------+
|    dep|male|female|
+-------+----+------+
|     IT|   8|     5|
|Payroll|   3|     2|
|     HR|   2|     4|
+-------+----+------+

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|  male|    8|
|     IT|female|    5|
|Payroll|  male|    3|
|Payroll|female|    2|
|     HR|  male|    2|
|     HR|female|    4|
+-------+------+-----+

In [93]:
#33. fill() & fillna() functions in PySpark
from pyspark.sql.functions import lit
data=[('nayeer','male',None),('naushad',None,300000)]
schema=['name','gender','salary']
df=spark.createDataFrame(data,schema)
df.show()

df.na.fill('unknown',['gender']).show()

df.fillna('unknown',['salary']).show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
| nayeer|  male|  NULL|
|naushad|  NULL|300000|
+-------+------+------+

+-------+-------+------+
|   name| gender|salary|
+-------+-------+------+
| nayeer|   male|  NULL|
|naushad|unknown|300000|
+-------+-------+------+

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
| nayeer|  male|  NULL|
|naushad|  NULL|300000|
+-------+------+------+

In [94]:
#34. sample() function in PySpark
df=spark.range(start=1, end=101)
df1=df.sample(fraction=0.1,seed=123)
df2=df.sample(fraction=0.1,seed=123)  # we put seed tjust to get same random number
df1.show()
df2.show()

+---+
| id|
+---+
| 37|
| 38|
| 42|
| 44|
| 70|
| 76|
| 85|
| 98|
+---+

+---+
| id|
+---+
| 37|
| 38|
| 42|
| 44|
| 70|
| 76|
| 85|
| 98|
+---+

In [95]:
#35. collect() function in PySpark
from pyspark.sql.functions import lit
data=[('nayeer','male',None),('naushad',None,300000)]
schema=['name','gender','salary']
df=spark.createDataFrame(data,schema)
df.show()

dataRows=df.collect() #it is similar to select() but here the op is collected in array
print(dataRows)
print(dataRows[0])
# print(dataRows[1])
print(dataRows[0][0])

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
| nayeer|  male|  NULL|
|naushad|  NULL|300000|
+-------+------+------+

[Row(name='nayeer', gender='male', salary=None), Row(name='naushad', gender=None, salary=300000)]
Row(name='nayeer', gender='male', salary=None)
nayeer

In [96]:
#36. DataFrame.transform() function in PySpark

data=[('nayeer','male',5678),('naushad',None,300000)]
schema=['name','gender','salary']
df=spark.createDataFrame(data,schema)
df.show()

from pyspark.sql.functions import upper

def convertToUpper(df):
  return df.withColumn('name',upper(df.name))

def doubleTheSalary(df):
  return df.withColumn('salary',df.salary*2)

df1=df.transform(convertToUpper)\
      .transform(doubleTheSalary)
df1.show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
| nayeer|  male|  5678|
|naushad|  NULL|300000|
+-------+------+------+

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
| NAYEER|  male| 11356|
|NAUSHAD|  NULL|600000|
+-------+------+------+

In [97]:
#37. pyspark.sql.functions.transform()
data=[(1,'nayeer',['azure','dot']),(2,'naaefef',['aafae','tod'])]
schema=['id','name','skills']
df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

from pyspark.sql.functions import transform
df.select('id','name',transform('skills',lambda x: upper(x)).alias('skills')).show()

def convertToUpper(x):
  return upper(x)

from pyspark.sql.functions import transform, upper
df.select(transform('skills',convertToUpper).alias('skills')).show()

+---+-------+------------+
| id|   name|      skills|
+---+-------+------------+
|  1| nayeer|[azure, dot]|
|  2|naaefef|[aafae, tod]|
+---+-------+------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

+---+-------+------------+
| id|   name|      skills|
+---+-------+------------+
|  1| nayeer|[AZURE, DOT]|
|  2|naaefef|[AAFAE, TOD]|
+---+-------+------------+

+------------+
|      skills|
+------------+
|[AZURE, DOT]|
|[AAFAE, TOD]|
+------------+

In [98]:
#38. createOrReplaceTempView() function in PySpark
data=[(1,'nayeer','male',5678),(2,'naushad',None,300000)]
schema=['id','name','gender','salary']
df=spark.createDataFrame(data,schema)

df.createOrReplaceTempView('employees')
df1=spark.sql('SELECT * FROM employees')
df1.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1| nayeer|  male|  5678|
|  2|naushad|  NULL|300000|
+---+-------+------+------+

In [99]:
#40. UDF(user defined function)
data =[(1,'nayeer',2000,500),(2,'naushad',4000,1000)]

schema=['id','name','salary','bonus']

df=spark.createDataFrame(data,schema)
df.show()

+---+-------+------+-----+
| id|   name|salary|bonus|
+---+-------+------+-----+
|  1| nayeer|  2000|  500|
|  2|naushad|  4000| 1000|
+---+-------+------+-----+

In [100]:
def totalPay(s,b):
  return s+b

from pyspark.sql.functions import udf,col
from pyspark.sql.types import IntegerType

TotalPay=udf(lambda x,y: totalPay(x,y),IntegerType())

df.select('*',TotalPay(col('salary'),col('bonus')).alias('totalPay')).show()
df.withColumn('tolPay',TotalPay(df.salary,df.bonus)).show()

+---+-------+------+-----+--------+
| id|   name|salary|bonus|totalPay|
+---+-------+------+-----+--------+
|  1| nayeer|  2000|  500|    2500|
|  2|naushad|  4000| 1000|    5000|
+---+-------+------+-----+--------+

+---+-------+------+-----+------+
| id|   name|salary|bonus|tolPay|
+---+-------+------+-----+------+
|  1| nayeer|  2000|  500|  2500|
|  2|naushad|  4000| 1000|  5000|
+---+-------+------+-----+------+

In [101]:
#41. Convert RDD to Dataframe in PySpark
data=[(1,'nayeer'),(2,'wasim')]
rdd=spark.sparkContext.parallelize(data)
print(rdd.collect())

[(1, 'nayeer'), (2, 'wasim')]

In [102]:
df=rdd.toDF(['id','name'])
df.show()

+---+------+
| id|  name|
+---+------+
|  1|nayeer|
|  2| wasim|
+---+------+

In [103]:
df1=spark.createDataFrame(rdd,['id','name'])
df1.show()

+---+------+
| id|  name|
+---+------+
|  1|nayeer|
|  2| wasim|
+---+------+

In [104]:
#42. map() transformation in PySpark
data=[('king','nayeer'),('kohli','wasim')]
rdd=spark.sparkContext.parallelize(data)
rdd1=rdd.map(lambda x: x + (x[0]+x[1],) )
print(rdd1.collect())

[('king', 'nayeer', 'kingnayeer'), ('kohli', 'wasim', 'kohliwasim')]

In [105]:
def FullName(x):
  x=x+(x[0]+' '+x[1],)
  return x

data=[('king','nayeer'),('kohli','wasim')]
rdd1=spark.createDataFrame(data,['fn','ln'])
rdd1=rdd.map(lambda x: FullName(x))
df1=rdd1.toDF(['fn','ln','FullName'])
df1.show()

+-----+------+-----------+
|   fn|    ln|   FullName|
+-----+------+-----------+
| king|nayeer|king nayeer|
|kohli| wasim|kohli wasim|
+-----+------+-----------+

In [106]:
data=[('king','nayeer'),('kohli','wasim')]
rdd1=spark.createDataFrame(data,['fn','ln'])
rdd1=rdd.map(lambda x: x + (x[0]+' '+x[1],) )
df2=rdd1.toDF(['fn','ln','FullName'])
df2.show()

+-----+------+-----------+
|   fn|    ln|   FullName|
+-----+------+-----------+
| king|nayeer|king nayeer|
|kohli| wasim|kohli wasim|
+-----+------+-----------+

In [107]:
#43. flatMap() transformation in PySpark
data=[('king nayeer'),('kohli wasim')]
rdd=spark.sparkContext.parallelize(data)

for item in rdd.collect():
  print(item)


rdd1=rdd.flatMap(lambda x: x.split(' '))
for item in rdd1.collect():
  print(item)

king nayeer
kohli wasim
king
nayeer
kohli
wasim

In [108]:
#44. partitionBy function in PySpark
data=[(1,'nayeer','male','IT'),(2,'yayeer','female','CIT'),(7,'nareer','male','KIIT')]
schema=['id','name','gender','dep']

df=spark.createDataFrame(data,schema)
df.write.parquet(path='/content/parquetop12',mode='overwrite',partitionBy='gender')
df.write.parquet(path='/content/parquetop11',mode='overwrite',partitionBy=['dep','gender'])

In [109]:
#45. from_json() function to convert json string in to MapType in Pyspark
data=[('nayeer','{"hair":"black","eye":"brown"}')]
schema=['name','props']
df=spark.createDataFrame(data,schema)
df.show(truncate=False)
df.printSchema()

+------+------------------------------+
|name  |props                         |
+------+------------------------------+
|nayeer|{"hair":"black","eye":"brown"}|
+------+------------------------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)

In [110]:
from pyspark.sql.functions import from_json
from pyspark.sql.types import MapType, StringType
MapTypeSchema = MapType(StringType(), StringType())
#propsMap column with MapType gets generates fropm json string
df1= df.withColumn('propsMap',from_json(df.props,MapTypeSchema))
df1.show(truncate=False)
df1.printSchema()

+------+------------------------------+-----------------------------+
|name  |props                         |propsMap                     |
+------+------------------------------+-----------------------------+
|nayeer|{"hair":"black","eye":"brown"}|{hair -> black, eye -> brown}|
+------+------------------------------+-----------------------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)
 |-- propsMap: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [111]:

#accessing 'eye' key from MapType column 'propsMap'
df2=df1.withColumn('eye',df1.propsMap.eye)
df2.show(truncate=False)

+------+------------------------------+-----------------------------+-----+
|name  |props                         |propsMap                     |eye  |
+------+------------------------------+-----------------------------+-----+
|nayeer|{"hair":"black","eye":"brown"}|{hair -> black, eye -> brown}|brown|
+------+------------------------------+-----------------------------+-----+

In [112]:

df2=df1.withColumn('eye',df1.propsMap.eye)\
.withColumn('hair',df1.propsMap.hair)
df2.show(truncate=False)

+------+------------------------------+-----------------------------+-----+-----+
|name  |props                         |propsMap                     |eye  |hair |
+------+------------------------------+-----------------------------+-----+-----+
|nayeer|{"hair":"black","eye":"brown"}|{hair -> black, eye -> brown}|brown|black|
+------+------------------------------+-----------------------------+-----+-----+

In [113]:
#46. from_json() function to convert json string into StructType in Pyspark
data=[('nayeer','{"hair":"black","eye":"brown"}')]
schema=['name','props']
df=spark.createDataFrame(data,schema)
# df.show(truncate=False)
# df.printSchema()


from pyspark.sql.functions import from_json
from pyspark.sql.types import MapType, StringType
structSchema = StructType([\
                           StructField('hair',StringType()),\
                           StructField('eye',StringType()),\
                           ])

MapTypeSchema = MapType(StringType(), StringType())
#propsMap column with MapType gets generates fropm json string
df1= df.withColumn('propsStruct',from_json(df.props,structSchema))
df1.show(truncate=False)
df1.printSchema()

#accessing 'eye' key from MapType column 'propsMap'
df2=df1.withColumn('eye',df1.propsStruct.eye)
df2.show(truncate=False)

+------+------------------------------+--------------+
|name  |props                         |propsStruct   |
+------+------------------------------+--------------+
|nayeer|{"hair":"black","eye":"brown"}|{black, brown}|
+------+------------------------------+--------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)
 |-- propsStruct: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

+------+------------------------------+--------------+-----+
|name  |props                         |propsStruct   |eye  |
+------+------------------------------+--------------+-----+
|nayeer|{"hair":"black","eye":"brown"}|{black, brown}|brown|
+------+------------------------------+--------------+-----+

In [114]:
#47. to_json() function in PySpark
from pyspark.sql.functions import to_json
from pyspark.sql.types import StructType, StructField , StringType

data=[('nayeer',{"hair":"black","eye":"brown"})]
schema=['name','properties']
df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()
#here 'prop' column will get generated as json string
df1=df.withColumn('props',to_json(df.properties))
df1.show(truncate=False)
df1.printSchema()

+------+--------------------+
|  name|          properties|
+------+--------------------+
|nayeer|{eye -> brown, ha...|
+------+--------------------+

root
 |-- name: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

+------+-----------------------------+------------------------------+
|name  |properties                   |props                         |
+------+-----------------------------+------------------------------+
|nayeer|{eye -> brown, hair -> black}|{"eye":"brown","hair":"black"}|
+------+-----------------------------+------------------------------+

root
 |-- name: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- props: string (nullable = true)

In [115]:
from pyspark.sql.types import StructType, StructField , StringType , StructType
data=[('maheer',('black','brown'))]
schema=StructType([\
                   StructField('name',StringType()),\
                   StructField('properties',StructType([StructField('hair',StringType()),StructField('eye',StringType())]))\
                   ])

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

from pyspark.sql.types import json
#here 'prop' column will get generated as json string
df1=df.withColumn('props',to_json(df.properties))
df1.show(truncate=False)
df1.printSchema()

+------+--------------+
|  name|    properties|
+------+--------------+
|maheer|{black, brown}|
+------+--------------+

root
 |-- name: string (nullable = true)
 |-- properties: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

+------+--------------+------------------------------+
|name  |properties    |props                         |
+------+--------------+------------------------------+
|maheer|{black, brown}|{"hair":"black","eye":"brown"}|
+------+--------------+------------------------------+

root
 |-- name: string (nullable = true)
 |-- properties: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)
 |-- props: string (nullable = true)

In [116]:
#48. json_tuple() function in PySpark
data=[('nayeer','{"hair":"black","eye":"brown" , "skin":"brown"}'),
      ('golden','{"hair":"golden","eye":"blue" , "skin":"white"}')]
schema=['name','props']
df=spark.createDataFrame(data,schema)
df.show(truncate = False)
df.printSchema()

from pyspark.sql.functions import json_tuple
df2=df.select(df.name, json_tuple(df.props,'hair','skin').alias('hair','skin'))
df2.show(truncate = False)

+------+-----------------------------------------------+
|name  |props                                          |
+------+-----------------------------------------------+
|nayeer|{"hair":"black","eye":"brown" , "skin":"brown"}|
|golden|{"hair":"golden","eye":"blue" , "skin":"white"}|
+------+-----------------------------------------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)

+------+------+-----+
|name  |hair  |skin |
+------+------+-----+
|nayeer|black |brown|
|golden|golden|white|
+------+------+-----+

In [117]:
#49. get_ json_object() function in PySpark
data=[('nayeer','{"address":{"city":"hyd","state":"telegana"},"gender":"male"}'),
      ('kingi','{"address":{"city":"dyh","state":"gana"},"gender":"female"}')]

schema=['name','props']

df=spark.createDataFrame(data,schema)
df.show(truncate=False)
df.printSchema()
from pyspark.sql.functions import get_json_object
df1=df.select('name',get_json_object('props','$.address.city').alias('city'))
df1.show(truncate=False)
df1.printSchema()

+------+-------------------------------------------------------------+
|name  |props                                                        |
+------+-------------------------------------------------------------+
|nayeer|{"address":{"city":"hyd","state":"telegana"},"gender":"male"}|
|kingi |{"address":{"city":"dyh","state":"gana"},"gender":"female"}  |
+------+-------------------------------------------------------------+

root
 |-- name: string (nullable = true)
 |-- props: string (nullable = true)

+------+----+
|name  |city|
+------+----+
|nayeer|hyd |
|kingi |dyh |
+------+----+

root
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)

In [118]:
#50. Date functions in PySpark | current_date(), to_date(), date_format() functions
from pyspark.sql.functions import current_date,date_format,lit,to_date

df=spark.range(2)

#datatype default format is yyyy-MM-dd
#gives current date in yyyy-MM-dd format
df.withColumn('todaysDate',current_date()).show()

#converts yyyy-MM-dd datatypes to specified format
df.withColumn('newFormat',date_format(lit('2024-05-14'),'MM-dd-yyyy')).show()

#converts string values of date to DateType
df.withColumn ('newDateCol', to_date(lit('14-05-2024'),'dd-MM-yyyy')).show()

+---+----------+
| id|todaysDate|
+---+----------+
|  0|2024-05-14|
|  1|2024-05-14|
+---+----------+

+---+----------+
| id| newFormat|
+---+----------+
|  0|05-14-2024|
|  1|05-14-2024|
+---+----------+

+---+----------+
| id|newDateCol|
+---+----------+
|  0|2024-05-14|
|  1|2024-05-14|
+---+----------+

In [121]:
#51. datediff(), months_between(), add_months(), date_add(), month(), year() functions in PySpark
from pyspark.sql.functions import datediff , months_between, add_months, date_add, year , month
df=spark.createDataFrame([('2015-04-08','2015-05-08')],['d1','d2'])
df.withColumn('diff',datediff(df.d2,df.d1)).show()
df.withColumn('months_between',months_between(df.d2,df.d1)).show()
df.withColumn('add_months',add_months(df.d2,4)).show()
df.withColumn('submonth',add_months(df.d2,-4)).show()

+----------+----------+----+
|        d1|        d2|diff|
+----------+----------+----+
|2015-04-08|2015-05-08|  30|
+----------+----------+----+

+----------+----------+--------------+
|        d1|        d2|months_between|
+----------+----------+--------------+
|2015-04-08|2015-05-08|           1.0|
+----------+----------+--------------+

+----------+----------+----------+
|        d1|        d2|add_months|
+----------+----------+----------+
|2015-04-08|2015-05-08|2015-09-08|
+----------+----------+----------+

+----------+----------+----------+
|        d1|        d2|  submonth|
+----------+----------+----------+
|2015-04-08|2015-05-08|2015-01-08|
+----------+----------+----------+

In [123]:
df.withColumn('addDate',date_add(df.d2,4)).show()
df.withColumn('subDate',date_add(df.d2,-4)).show()
df.withColumn('year',year(df.d2)).show()
df.withColumn('month',month(df.d2)).show()

+----------+----------+----------+
|        d1|        d2|   addDate|
+----------+----------+----------+
|2015-04-08|2015-05-08|2015-05-12|
+----------+----------+----------+

+----------+----------+----------+
|        d1|        d2|   subDate|
+----------+----------+----------+
|2015-04-08|2015-05-08|2015-05-04|
+----------+----------+----------+

+----------+----------+----+
|        d1|        d2|year|
+----------+----------+----+
|2015-04-08|2015-05-08|2015|
+----------+----------+----+

+----------+----------+-----+
|        d1|        d2|month|
+----------+----------+-----+
|2015-04-08|2015-05-08|    5|
+----------+----------+-----+

In [124]:
#52. Timestamp Functions in PySpark
from pyspark.sql.functions import current_timestamp , to_timestamp , lit , hour , minute , second
df=spark.range(2)
df.show()
df1=df.withColumn('timestamp',current_timestamp())
df1.show(truncate=False)
df1.printSchema()
df2=df1.withColumn('toTimestamp',to_timestamp(lit('25.12.2022 06.10.13'), 'dd.MM.yyyy HH.mm.ss'))
df2.show(truncate=False)
df2.printSchema()
df2.select('id',hour(current_timestamp()).alias('hour'),\
           minute(current_timestamp()).alias('minute'),\
           second(current_timestamp()).alias('second')).show()

+---+
| id|
+---+
|  0|
|  1|
+---+

+---+--------------------------+
|id |timestamp                 |
+---+--------------------------+
|0  |2024-05-14 08:47:58.716124|
|1  |2024-05-14 08:47:58.716124|
+---+--------------------------+

root
 |-- id: long (nullable = false)
 |-- timestamp: timestamp (nullable = false)

+---+-------------------------+-------------------+
|id |timestamp                |toTimestamp        |
+---+-------------------------+-------------------+
|0  |2024-05-14 08:47:58.82591|2022-12-25 06:10:13|
|1  |2024-05-14 08:47:58.82591|2022-12-25 06:10:13|
+---+-------------------------+-------------------+

root
 |-- id: long (nullable = false)
 |-- timestamp: timestamp (nullable = false)
 |-- toTimestamp: timestamp (nullable = true)

+---+----+------+------+
| id|hour|minute|second|
+---+----+------+------+
|  0|   8|    47|    59|
|  1|   8|    47|    59|
+---+----+------+------+

In [130]:
#53. approx_count_distinct(), avg(), collect_list(), collect_set(), countDistinct(), count()
from pyspark.sql.functions import approx_count_distinct, avg, collect_list , collect_set , countDistinct, count

simpleData = [('Payeer','HR',4500),\
              ('Fayeer','SDE',1300),\
              ('Yayeer','Manager',4500)]

schema= ["employee_name",'dep','salary']
df=spark.createDataFrame(data=simpleData,schema=schema)
df.printSchema()
df.show(truncate = False)
df.select(approx_count_distinct('salary')).show()
df.select(avg('salary')).show()
df.select(collect_list('salary')).show()
df.select(collect_set('salary')).show()
df.select(countDistinct('salary')).show()
df.select(count('salary')).show()

root
 |-- employee_name: string (nullable = true)
 |-- dep: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+-------+------+
|employee_name|dep    |salary|
+-------------+-------+------+
|Payeer       |HR     |4500  |
|Fayeer       |SDE    |1300  |
|Yayeer       |Manager|4500  |
+-------------+-------+------+

+-----------------------------+
|approx_count_distinct(salary)|
+-----------------------------+
|                            2|
+-----------------------------+

+------------------+
|       avg(salary)|
+------------------+
|3433.3333333333335|
+------------------+

+--------------------+
|collect_list(salary)|
+--------------------+
|  [4500, 1300, 4500]|
+--------------------+

+-------------------+
|collect_set(salary)|
+-------------------+
|       [4500, 1300]|
+-------------------+

+----------------------+
|count(DISTINCT salary)|
+----------------------+
|                     2|
+----------------------+

+-------------+
|count(salary)|
+-------------+
|            3|
+-------------+

In [142]:
#54. row_number(), rank(), dense_rank() functions in PySpark
from pyspark.sql.functions import row_number , rank , dense_rank
from pyspark.sql.window import Window
data=[(1,'naheey','M',5000,'IT'),\
      (2,'baheey','F',50100,'IT'),\
      (3,'gaheey','M',52000,'IT'),\
      (4,'taheey','F',53000,'GIT'),\
      (5,'raheey','M',25000,'GIT'),\
      (6,'eaheey','F',15000,'KIT'),\
      (7,'waheey','M',95000,'KIT')]

schema=['id','name','gender','salary','dep']
df=spark.createDataFrame(data,schema)

# df.sort('dep').show()

window=Window.partitionBy('dep').orderBy('salary')
df.withColumn('rowNumber',row_number().over(window)).show()

+---+------+------+------+---+---------+
| id|  name|gender|salary|dep|rowNumber|
+---+------+------+------+---+---------+
|  5|raheey|     M| 25000|GIT|        1|
|  4|taheey|     F| 53000|GIT|        2|
|  1|naheey|     M|  5000| IT|        1|
|  2|baheey|     F| 50100| IT|        2|
|  3|gaheey|     M| 52000| IT|        3|
|  6|eaheey|     F| 15000|KIT|        1|
|  7|waheey|     M| 95000|KIT|        2|
+---+------+------+------+---+---------+

In [140]:
df.withColumn('rank',rank().over(window)).show()

+---+------+------+------+---+----+
| id|  name|gender|salary|dep|rank|
+---+------+------+------+---+----+
|  5|raheey|     M| 25000|GIT|   1|
|  4|taheey|     F| 53000|GIT|   2|
|  1|naheey|     M|  5000| IT|   1|
|  2|baheey|     F| 50100| IT|   2|
|  3|gaheey|     M| 52000| IT|   3|
|  6|eaheey|     F| 15000|KIT|   1|
|  7|waheey|     M| 95000|KIT|   2|
+---+------+------+------+---+----+

In [141]:
df.withColumn('denserrank',dense_rank().over(window)).show()

+---+------+------+------+---+----------+
| id|  name|gender|salary|dep|denserrank|
+---+------+------+------+---+----------+
|  5|raheey|     M| 25000|GIT|         1|
|  4|taheey|     F| 53000|GIT|         2|
|  1|naheey|     M|  5000| IT|         1|
|  2|baheey|     F| 50100| IT|         2|
|  3|gaheey|     M| 52000| IT|         3|
|  6|eaheey|     F| 15000|KIT|         1|
|  7|waheey|     M| 95000|KIT|         2|
+---+------+------+------+---+----------+